<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Remontnaya_Masterskaya.Properties.Settings.Мебельная_фабрикаConnectionString"
            connectionString="Data Source=DESKTOP-4QTHHHR\SQLEXPRESS;Initial Catalog=Мебельная_фабрика;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>